

.modal__contents{
  width: 350px;
  background: var(--white);
  position: fixed;
  top: 50%;left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s ease;
  .wrap-modal-poster{
    height: 500px;
    .modal__poster-img{
      width: 100%;height: 100%;
      object-fit: cover;
    }
  }
  .modal__wrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: var(--black);
    background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 83%, rgba(0,0,0,0.8883928571428571) 90%, rgba(0,0,0,0.7343312324929971) 93%, rgba(255,255,255,0) 100%);
  }
  .modal__txt-info{
    padding: 20px 20px 40px;
    color: var(--white);
    text-align: left;
    position: absolute;
    bottom: 0;
    .modal__title{
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    span{
      display: block;
    }
    .modal__overview{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; 
      -webkit-box-orient: vertical;
      white-space: normal;
    }
  }
  .close-modal{
    position: absolute;
    right: 16px;
    top: 10px;
    width: 20px;height: 20px;
    background: var(--black);
    border-radius: 50%;
    display: flex;
    font-weight: bold;
    justify-content: center;
    font-size: 12px;
    color: var(--white);
    // mix-blend-mode: difference;
  }
}

.dim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: opacity 1s ease;
}

.modal__contents.visible,
.dim.visible {
  opacity: 1;
  transition: opacity 1s ease;
}
